@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(13, 57, 114);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/1421236485/photo/starry-night-in-grassland.jpg?s=612x612&w=0&k=20&c=EvrwgoOtYbX3OF65YsVHj1lG_rkdnXKloOGEw6X-hyQ=");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  color:gold;  
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;}